{
	admin off
	auto_https off
	frankenphp {
		num_threads {$CR_PHP_NUM_THREADS:8}
		max_threads {$CR_PHP_MAX_THREADS:8}
	}
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
		client_ip_headers {$CR_CADDY_REAL_IP:X-Forwarded-For}
	}
}

:8080 {
	log {
		output stdout
		format console
	}

	root * {$CR_CADDY_WORK_DIR:/app}

	encode zstd br gzip

	map {http.request.header.X-Forwarded-Proto} {mapped_https} {
		"https" "on"
		default ""
	}

	map {http.request.header.X-Forwarded-Port} {mapped_port} {
		"" 443
		default {http.request.header.X-Forwarded-Port}
	}

	header {
		-Server
		-X-Powered-By
		-Via
	}

	php_server {
		env HTTPS {mapped_https}
		env SERVER_PORT {mapped_port}
		env HTTP_FRONT_END_HTTPS {mapped_https}
		env HTTP_X_REAL_IP {http.request.header.{$CR_CADDY_REAL_IP:X-Forwarded-For}}
		env HTTP_X_FORWARDED_FOR {http.request.header.{$CR_CADDY_REAL_IP:X-Forwarded-For}}
	}
}
